In [246]:
import pandas as pd
import numpy as np
import glob

In [247]:
#This cell retrieves the list of all compressed CSV files containing
#YouTube trending videos data for different countries.
                            
csv_files = glob.glob("trendingYT/*videos.csv.zst")
csv_files

['trendingYT/USvideos.csv.zst',
 'trendingYT/FRvideos.csv.zst',
 'trendingYT/MXvideos.csv.zst',
 'trendingYT/INvideos.csv.zst',
 'trendingYT/KRvideos.csv.zst',
 'trendingYT/JPvideos.csv.zst',
 'trendingYT/DEvideos.csv.zst',
 'trendingYT/CAvideos.csv.zst',
 'trendingYT/RUvideos.csv.zst',
 'trendingYT/GBvideos.csv.zst']

In [248]:
#This cell reads a single compressed CSV file corresponding to the
#United States (`USvideos.csv.zst`) using Pandas. The purpose of this
#step is to verify that the `.csv.zst` format can be correctly read
#within the Jupyter Notebook environment and to inspect the structure
#of the dataset, including columns and sample rows.

df_test = pd.read_csv("trendingYT/USvideos.csv.zst", compression="zstd")
df_test.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

<h2>1. Create a single dataframe with the concatenation of all input csv files, adding a column called country</h2>

In [249]:
#This cell reads all country-specific compressed CSV files containing
#YouTube trending videos data. For each file, the country code is
#extracted from the file name and added as a new column called `country`.
#All individual DataFrames are then concatenated into a single unified
#DataFrame named `data`. This allows subsequent analyses to be performed
#across all countries while preserving the origin of each record.

dfs = []

for file in csv_files:
    country = file.split("/")[-1][:2]
    
    df = pd.read_csv(
        file,
        compression="zstd",
        encoding="latin1"
    )
    
    df["country"] = country
    dfs.append(df)

data = pd.concat(dfs, ignore_index=True)
data.shape
data.head(389000)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...,US
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375937,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...,GB
375938,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...,GB
375939,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE â¶ http://ad.gt/2...,GB
375940,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...,GB
375941,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...,GB

In [250]:
data["country"].unique()

array(['US', 'FR', 'MX', 'IN', 'KR', 'JP', 'DE', 'CA', 'RU', 'GB'],
      dtype=object)

In [251]:
type(data)

pandas.core.frame.DataFrame

<h2> 2. Extract all videos that have no tag.</h2>

In [252]:

videos_without_tags = data[
    (data["tags"].isna()) | (data["tags"] == "[none]")
]
print("There are",videos_without_tags.shape[0],"Videos which have no Tag")
videos_without_tags.head()

There are 37698 Videos which have no Tag

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
42,NZFhMSgbKKM,17.14.11,Dennis Smith Jr. and LeBron James go back and ...,Ben Rohrbach,17,2017-11-13T15:11:00.000Z,[none],945,7,5,8,https://i.ytimg.com/vi/NZFhMSgbKKM/default.jpg,False,False,False,NaN,US
97,xfmipNU4Odc,17.14.11,Edna's registered owner thought she was dead f...,Hope For Paws - Official Rescue Channel,15,2017-11-10T18:02:04.000Z,[none],284666,16396,81,949,https://i.ytimg.com/vi/xfmipNU4Odc/default.jpg,False,False,False,Please donate $5 and help us save more lives:\...,US
133,X7flefV8tec,17.14.11,"President Bill Clinton On Dictators, Democracy...",Team Coco,24,2017-11-09T02:37:49.000Z,[none],366180,4364,4448,1997,https://i.ytimg.com/vi/X7flefV8tec/default.jpg,False,False,False,#ConanNYC Highlight: President Clinton talks a...,US
136,5x1FAiIq_pQ,17.14.11,Alicia Keys - When You Were Gone,Alicia Keys,10,2017-11-09T15:49:21.000Z,[none],95944,1354,181,117,https://i.ytimg.com/vi/5x1FAiIq_pQ/default.jpg,False,False,False,Find out more in The Vault: http://bit.ly/AK_A...,US
175,4d07RXYLsJE,17.14.11,Sphaera - demonstrating interaction,Jenny Hanell,28,2017-11-04T20:48:16.000Z,[none],1827,3,0,2,https://i.ytimg.com/vi/4d07RXYLsJE/default.jpg,False,False,False,NaN,US

<h2> 3: For each channel, determine the total number of views </h2>

In [253]:
views_per_channel = (
    data
    .groupby("channel_title")["views"]
    .sum()
    .reset_index()
)
views_per_channel.sort_values("views", ascending=False)

              channel_title        views
4564    ChildishGambinoVEVO  11016766510
15536  Marvel Entertainment  10430605449
17726            NickyJamTV   9479859505
18466                 Ozuna   8623329509
28412               ibighit   8205572221
...                     ...          ...
17437     NavylittleMonster          365
25828      Videostendencias          302
17837         No Comment TV          284
22560            Sport Life          163
1370      Alexander Redking          153

[37824 rows x 2 columns]

<h2> 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe. </h2>

In [254]:
# Question: Filter out invalid videos
# Using 'data' as the variable name as per your setup
#This cell identifies videos with disabled comments, disabled ratings,
#or videos that are unavailable due to errors or removal. These rows are
#stored in a separate DataFrame named `excluded` and removed from the
#main dataset to ensure that subsequent analyses are performed only on
#valid and fully interactive videos.

excluded = data[
    (data["comments_disabled"] == True) |
    (data["ratings_disabled"] == True) |
    (data["video_error_or_removed"] == True)
]

data = data.drop(excluded.index)
print(f"Remaining rows in the Original Dataframe: {data.shape[0]}")

Remaining rows in the Original Dataframe: 362285

In [255]:
excluded.shape

(13657, 17)

<h2> 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes </h2>

In [256]:
#A new column `like_ratio` was added to the dataset, representing the
#ratio between the number of likes and dislikes. To avoid division by
#zero, the ratio is computed only when the number of dislikes is greater
#than zero; otherwise, the value is set to NaN.

data["like_ratio"] = np.where(
    data["dislikes"] == 0,
    np.nan,
    data["likes"] / data["dislikes"],
   
)
data[["likes", "dislikes", "like_ratio"]].head()

    likes  dislikes  like_ratio
0   57527      2966   19.395482
1   97185      6146   15.812724
2  146033      5339   27.352126
3   10172       666   15.273273
4  132235      1989   66.483157

In [257]:
#A total of 2,390 videos have undefined like-to-dislike ratios due to
#having zero dislikes. These cases were handled by assigning NaN values
#to avoid division by zero and misleading infinite ratios.

data["like_ratio"].isna().sum()

np.int64(2390)

<h2> 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)</h2# Step 1: publish_time ko datetime mein convert karo

In [258]:
# Convert the 'publish_time' column from string/object type to pandas datetime type
# This allows us to perform datetime operations like rounding, difference, or formatting
data['publish_time'] = pd.to_datetime(data['publish_time'])

# Floor the datetime to the nearest 10 minutes so that it falls in a cluster
# Example: 12:02 -> 12:00, 12:14 -> 12:10
start_times = data['publish_time'].dt.floor('10min')

# Compute end times (10 minutes after start)
end_times = start_times + pd.Timedelta(minutes=10)

In [259]:
# Creating the interval column (Jo Question 7 mein kaam aayega)
data['publish_interval'] = start_times.dt.strftime('%H:%M') + " - " + end_times.dt.strftime('%H:%M')

data.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio,publish_interval
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13 17:13:01+00:00,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US,19.395482,17:10 - 17:20
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13 07:30:00+00:00,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US,15.812724,07:30 - 07:40
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...,US,27.352126,19:00 - 19:10
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13 11:00:04+00:00,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US,15.273273,11:00 - 11:10
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US,66.483157,18:00 - 18:10

<h2> 7. For each interval, determine the number of videos, average number of likes and of dislikes </h2>

In [260]:
# Question 7: Grouping and Statistics
# Step 1: Grouping using the column created in Question 6
interval_stats = (
    data.groupby("publish_interval").agg(
        # Count the number of videos
        video_count=("video_id", "count"),
        # Average likes
        avg_likes=("likes", "mean"),
        # Average dislikes
        avg_dislikes=("dislikes", "mean")
    )
    .reset_index()
)

# Step 2: Rounding for clean output
interval_stats['avg_likes'] = interval_stats['avg_likes'].round(3)
interval_stats['avg_dislikes'] = interval_stats['avg_dislikes'].round(3)

# Final Output
interval_stats.head(5)

  publish_interval  video_count  avg_likes  avg_dislikes
0    00:00 - 00:10         2826  62819.250      3902.800
1    00:10 - 00:20         1424  20898.900      1448.770
2    00:20 - 00:30         1199  22120.715      1109.575
3    00:30 - 00:40         1557  38038.324       981.209
4    00:40 - 00:50         1217  43956.825      1988.883

<h2> 8. For each tag, determine the number of videos. Notice that tags contains a string with several tags. </h2>

In [207]:
#Question 8
#For each tag, determine the number of videos

#Step 1: [none] Remove tags 
tags_df = data[data["tags"] != "[none]"].copy()
#Step 2: Split the tags into list
tags_df["tags"] = tags_df["tags"].str.split("|")
#Step 3: Make a separate row for each tag
tags_df = tags_df.explode("tags")
#Step 4: Count videos per tag
tag_counts = (
    tags_df
    .groupby("tags")["video_id"]
    .count()
    .reset_index(name="video_count")
)


#Videos with no tags were excluded from this analysis to avoid
#miscounting non-informative tag values.

In [208]:
tag_counts.sort_values("video_count", ascending=False).head(10)

                tags  video_count
336367       "funny"        14834
277331      "comedy"        11900
12345         "2018"        10567
443877        "news"         5653
436001       "music"         5544
560941       "video"         5338
11561         "2017"         5334
363385       "humor"         4992
535015  "television"         4099
490027      "review"         4006

In [209]:
tag_counts.shape

(868445, 2)

<h2> 9. Find the tags with the largest number of videos </h2>

In [210]:
#Question 9
#Find the tags with the largest number of videos

#This cell identifies the most frequently used tags by sorting the tag
#counts in descending order and selecting the top results.
top_tags = tag_counts.sort_values("video_count", ascending=False)

# Display top 5 tags
top_tags.head(5)

            tags  video_count
336367   "funny"        14834
277331  "comedy"        11900
12345     "2018"        10567
443877    "news"         5653
436001   "music"         5544

<h2> 10. For each (tag, country) pair, compute average ratio likes/dislikes </h2>

In [211]:
#Question 10
#For each (tag, country) pair, compute average ratio likes/dislikes


#To compute the average like-to-dislike ratio for each (tag, country)
#pair, videos without tags were removed and the tags column was split
#into individual tags. Each tag was expanded into its own row, allowing
#grouping by both tag and country. The average of the previously computed
#like_ratio was then calculated for each group.


import re

# Step 1: Remove rows without valid tags at video level
tags_country_df = data[
    (data["tags"].notna()) &
    (data["tags"] != "[none]")
].copy()

# Step 2: Split tags
tags_country_df["tags"] = tags_country_df["tags"].str.split("|")

# Step 3: Explode
tags_country_df = tags_country_df.explode("tags")

# Step 4: Strip whitespace
tags_country_df["tags"] = tags_country_df["tags"].str.strip()

# Step 5: Keep ONLY clean alphanumeric tags (no spaces, no symbols)
tags_country_df = tags_country_df[
    tags_country_df["tags"].str.match(r"^[A-Za-z0-9]+$")
]

# Step 6: Remove undefined like ratios
tags_country_df = tags_country_df[tags_country_df["like_ratio"].notna()]

# Step 7: Group by tag and country
tag_country_ratio = (
    tags_country_df
    .groupby(["tags", "country"])["like_ratio"]
    .mean()
    .reset_index(name="avg_like_ratio")
)

In [212]:
tag_country_ratio.head()

                 tags country  avg_like_ratio
0         0014catorce      JP       16.772325
1               01ka0      JP       40.688889
2  08282016NtflxUSCAN      CA       57.816643
3  08282016NtflxUSCAN      DE       46.431718
4  08282016NtflxUSCAN      GB       73.495884

In [213]:
tag_country_ratio.shape

(15562, 3)

<h2> 11. For each (trending_date, country) pair, the video with the largest number of views </h2>

In [214]:
#Question 11


# For each (trending_date, country): pick the row (video) with max views
# We also ensure views are numeric before grouping
top_videos_per_day_country = (
    data
    .assign(views=pd.to_numeric(data["views"], errors="coerce"))
    .loc[data.groupby(["trending_date", "country"])["views"].idxmax()]
    .sort_values(["trending_date", "country"])
    .reset_index(drop=True)
)

# Result: Display specific columns to match the desired output shape
top_videos_per_day_country[["trending_date", "country", "views"]].head(10)

  trending_date country      views
0      17.01.12      CA   56367282
1      17.01.12      DE   56367282
2      17.01.12      FR    7281189
3      17.01.12      GB  143408235
4      17.01.12      IN   56367282
5      17.01.12      KR   56370607
6      17.01.12      MX   56370607
7      17.01.12      RU    7281189
8      17.01.12      US   56367282
9      17.02.12      CA   66637636

<h2> 12. Divide trending_date into three columns: year, month, day </h2>

In [215]:
#Question 12
# Convert trending_date using the correct YouTube dataset format
data["trending_date"] = pd.to_datetime(
    data["trending_date"],
    format="%y.%d.%m",
    errors="coerce"
)

# Extract year, month, day
data["year"] = data["trending_date"].dt.year
data["month"] = data["trending_date"].dt.month
data["day"] = data["trending_date"].dt.day

# Verify
data[["trending_date", "year", "month", "day"]].head()

  trending_date  year  month  day
0    2017-11-14  2017     11   14
1    2017-11-14  2017     11   14
2    2017-11-14  2017     11   14
3    2017-11-14  2017     11   14
4    2017-11-14  2017     11   14

<h2>13: For each (month, country) pair, the video with the largest number of views </h2>

In [217]:
#Question 13
#For each (month, country) pair, find the video with the largest number of views

#For each combination of month and country, the video with the highest
#number of views was identified. This was done by grouping the dataset by
#month and country, finding the index of the maximum number of views in
#each group, and selecting the corresponding video records.
    
data.groupby(['country', 'month']).agg({'views': ['max']}).head(10)

                   views
                     max
country month
CA      1       43067983
        2       47362934
        3       61163906
        4       53071887
        5       98938809
        6       47778378
        11      56843038
        12     137843120
DE      1       37728802
        2       33591858

<h2> 14.Read all JSON files with the video categories </h2>

In [158]:


import json
import glob

# Step 1: Get all JSON category files
json_files = glob.glob("trendingYT/*_category_id.json")

category_dfs = []

# Step 2: Read each JSON file
for file in json_files:
    country = file.split("/")[-1][:2]
    
    with open(file, "r", encoding="utf-8") as f:
        data_json = json.load(f)
    
    # Step 3: Extract categories
    categories = data_json["items"]
    
    df_cat = pd.json_normalize(categories)
    
    # Step 4: Keep useful columns
    df_cat = df_cat[["id", "snippet.title","snippet.assignable"]]
    df_cat.columns = ["category_id", "category_name","assignable"]
    
    # Step 5: Add country
    df_cat["country"] = country
    
    category_dfs.append(df_cat)

# Step 6: Combine all categories
categories_df = pd.concat(category_dfs, ignore_index=True)

# Check result
categories_df.head()

  category_id     category_name  assignable country
0           1  Film & Animation        True      IN
1           2  Autos & Vehicles        True      IN
2          10             Music        True      IN
3          15    Pets & Animals        True      IN
4          17            Sports        True      IN

<h2> 15. For each country, determine how many videos have a category that is not assignable. </h2>

In [159]:
#Video records were matched with category information using the
#category_id and country. Videos whose category could not be matched to
#any category in the corresponding JSON file were considered
#unassignable. The number of such videos was then counted for each
#country.

# Step 1: Ensure category_id is same type
data["category_id"] = data["category_id"].astype(str)
categories_df["category_id"] = categories_df["category_id"].astype(str)

# Step 2: Left merge videos with categories
merged = data.merge(
    categories_df,
    on=["category_id", "country"],
    how="left"
)

# Step 3: Videos with unassignable categories
unassignable = merged[merged["category_name"].isna()]

# Step 4: Count per country
unassignable_count = (
    unassignable
    .groupby("country")
    .size()
    .reset_index(name="unassignable_videos")
)

unassignable_count

  country  unassignable_videos
0      CA                   69
1      DE                  228
2      FR                   85
3      GB                   90
4      IN                   41
5      JP                   18
6      KR                  280
7      MX                  149
8      RU                 1301